@mixin styleForEarned {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  color: #1c1c21;
}
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.finish-page-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100vh;

  .wrapper-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    position: absolute;
    width: 624px;
    height: 258px;
    left: 736px;
    top: 283px;

    h1 {
      @include flex;
      @include styleForEarned;
      font-size: 32px;
      opacity: 0.5;
    }
    .earned {
      @include styleForEarned;
      font-size: 56px;
      position: absolute;
      top: 50px;
    }
    button {
      @include styleForEarned;
      width: 296px;
      height: 64px;
      background: #1e6a8e;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 194px;
      color: White;

      font-size: 20px;
      border-radius: 12px;
    }
    button:hover {
      background-color: #3891b1;
    }
    button.active {
      background-color: #003b63;
    }
  }
}
